[submodule "src/train/rwkv-lm"]
	path = src/train/rwkv-lm
	url = https://github.com/rwkv-rs/rwkv-lm
[submodule "src/train/verl-rwkv"]
	path = src/train/verl-rwkv
	url = https://github.com/rwkv-rs/verl-rwkv.git
[submodule "src/infer/vllm-rwkv"]
	path = src/infer/vllm-rwkv
	url = https://github.com/rwkv-rs/vllm-rwkv
